body {
    font-family: robo, Helvetica, sans-serif;
}

header
{
    background-color: #FFD400;
    padding: 50px;
}

section 
{
    border-width: 1px;
    border-style: solid;
    display: inline-block;
}