body {
	background-color: #3d3a3a;
}

/* Style for the cyan banner behind the header */
header {
	background-color: #007777;
	color: white;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
}

/* Style for the h1 inside the header */
h1 {
	margin: 0;
}

/* Container for the cards */
.card-container {
	display: flexbox;
}

/* Individual card styling */
.card {
	margin: auto;
    margin-top: 10px;
	background-color: #999999;
	border-radius: 10px;
	padding: 20px;
	width: 95%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
}

/* Style for the dropdown button */
.dropdown-btn {
    display: flex;
	margin-top: 10px;
	padding: 10px;
	background-color: #2e2e2e;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.dropdown-btn:hover {
	background-color: #0056b3;
}

/* Hidden dropdown content */
.dropdown-btn:nth-of-type(2) {
	display: none;
}

.dropdown-content {
	display: none;
    flex-direction: column;
	margin-top: 10px;
    width: fit-content;
	background-color: #4b4b4b;
	border-radius: 5px;
	padding: 20px;
}

.dropdown-content a {
	text-decoration: none;
	padding: 8px 0;
	color: #ffffff;
}

.dropdown-content a:hover {
	background-color: #ddd;
}
